name: CD Release

on:
  push:
    branches:
      - 'main'
      - 'releases/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: mlaccetti/echoip
          tags: |
            type=edge,branch=main
            type=sha,enable=true,priority=100,prefix=edge-,suffix=,format=short,branch=main
            type=ref,event=tag

      - name: Download GeoIP Information
        shell: bash
        run: make geoip-download
        env:
          GEOIP_LICENSE_KEY: ${{ secrets.GEOIP_LICENSE_KEY }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ contains(fromJson('["refs/heads/main", "refs/tags"]'), github.ref) }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
